<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ebomike.ebovibrationmaster"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".EboVibrationMasterActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:mimeType="com.ebomike.ebovibrationmaster/vibrations"></data>
            </intent-filter>
        </activity>
        <provider android:authorities="com.ebomike.ebovibrationmaster" android:name="EboVibrationContentProvider"></provider>
        <activity android:name="EboVibrationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

    </application>
</manifest>